.App {
  /* text-align: center; */


}
/* background-image:url("./images/chalkboard.png");
background-repeat: no-repeat;
background-size:contain; */

.drinkList {
  /* margin: auto; */
  position: absolute;
  width: 100%;
  height: 110vh;
  z-index:-1;
}